<div class="wrap">
<div class="box">
  <div class="left-box">
    <select name="currency" class="currency"><option *ngFor="let rate of rates"> {{rate.cc}}</option></select>
    <input type="number" name="" id="input">
  </div>

  <div class="right-box">
    <select name="currency" class="currency"><option *ngFor="let rate of rates"> {{rate.cc}}</option></select>
    <input type="number" name="" id="result" disabled>
  </div>
</div>
<button class="btn" id="btn"><span>Convert</span></button>
<div class="ratesTable">
<app-rate *ngFor="let rate of rates" [rate]="rate"></app-rate>
</div>
</div>


