.container{
  height: 50px;
  background-color: darkseagreen;
  font-size: 20px;
  padding: 0 20%;
}

a{
  text-decoration: none;
  color: snow;
  margin-right: 30px;
}

.flex{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
